<div class='navbar navbar-right panel panel-default'>
  <%= render partial: "allegiances/index", locals: {list_name:'Faction', allegiances:npc.allegiances, base:npc} %>
  <br />
  <%= render partial: "npc_relations/index", locals:{npc:npc} %>
</div>
