<div class='navbar navbar-right panel panel-default'>
  <%= render partial: "allegiances/index", locals: {list_name:'Faction', allegiances:npc.accessible_allegiances(current_user), base:npc} %>
  <br />
  <%= render partial: "npc_relations/index", locals:{npc:npc, npc_relations: npc.accessible_npc_relations(current_user)} %>
</div>