<div>
  <h4>
  <%= link_to "One Time Pads", "http://en.wikipedia.org/wiki/One-time_pad" %> are a form of cryptography where 
  a random (or close to random) key is given to two people.  By adding the letters of their message to the
  letters in the key, the sender can create a message that can only be read by the person with the other key,
  who then subtracts the key from the message to get the decoded result!
  </h4>
</div>
